@import url('https://fonts.googleapis.com/css?family=Dosis:200');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');
* {margin:0;padding:0;box-sizing:border-box;}
body {
	color: #222222;
	font-family: 'Playfair Display', serif;
	font-size:20px;
	line-height: 1.5;
}

#hero{
	background-image: url("../images/spring_home.jpg");
	background-size: cover;
	font-weight: bold;
	height: 80vh;
	padding:10em 0 0 10em;
}

h1{
	font-size: 2.25em;
}

h2{
	font-family: 'Dosis', sans-serif;
	font-size: 1.5em;
	font-weight: 200;
	color: #ff00ff;
	text-align: center;
}

h3{
	font-family: "Minion Pro", serif;
	font-size: 1.25em;
}

li{
	font-family: 'Dosis', sans-serif;
	font-weight: 300;
}

nav a{
	color: inherit;
	text-decoration: none;
	display: inline-block;
	padding: 1em;
}
nav a:last-of-type{
	background:orange;
	color:#fff;
}
ul{
	font-size: 1.25em;
	padding-left:1em;
}
img{
	width: 25%;
}

#slogan{
	text-align: left;
	font-family: "Times New Roman", Times, serif;
}
.logo {
	font-size:2em;
	
}
