
body{
	background-image:"images/spring_home.jpg";
	font-family: "Minion Pro", Regular;
	font-size: 20px;
	color: #222222;
	line-height: 1.3;
}

h1{
	font-family: "Poppi-Residenz";
	font-size: 45px;
	color: black;
}

nav a{

	color: #222222;
	font-style: italic;
	margin-left: 10px;
}

ul{
	font-size: 24px;
	color: #ff00ff;
}
img{
	width: 100%;
}


