* {margin:0;padding:0;box-sizing:border-box;}
@import url('https://fonts.googleapis.com/css?family=Dosis:200');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700');

body {
	color: #222222;
	font-family: 'Playfair Display', serif;
	font-size:16px;
	font-weight: 800;
}

#hero{
	background-image: url("../images/spring_home.jpg");
	background-size: cover;
	font-weight: bold;
	height: 90vh;
	padding:10em 0 0 10em;
}

h1{
	font-size: 45px;
}

h2{
	font-family: 'Dosis', sans-serif;
	font-size: 30px;
	font-weight: 200;
	color: #ff00ff;
	text-align: center;
}

h3{
	font-family: "Minion Pro", serif;
	font-size: 25px;
}
li{
	font-family: 'Dosis', sans-serif;
	font-weight: 300;
}

nav a{
	color: inherit;
	font-style: italic;
	font-weight: bold;
	margin-right: 20px;
}

ul{
	font-size: 24px;
	padding-left:1.2em;
}
img{
	width: 25%;
}

#slogan{
	text-align: left;
	font-family: "Times New Roman", serif;
}
